registry=https://registry.npmjs.org/
@qianxun:registry=https://npm.cnb.cool/yztx_qxun/qxun/-/packages/
always-auth=false
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
link-workspace-packages=deep
